.hero-image-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Pictures/100.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.hero-text-home {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Amatic SC';
    font-size: 40px;
}

.married-tag {
    color: #3d4351;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 29px;
}

.date {
    font-size: 25px;
}

.atSymbol {
    font-size: 10px;
}

.bloom {
    font-size: 38px;
}

.hotel {
    display: flex;
    background-color: rgb(221, 221, 221);
}

.bloom-pic {
    display: flex;
    flex: 1;
    width: 100px;
    height: 100%;
}

.hotel-text {
    flex: 2;
    padding: 20px;
}

.transportation {
    display: flex;
    font-family: 'Montserrat';
    background-color: #ffced1;;
}

.transpItem {
    flex: 2;
    padding: 20px;
}

.river {
    flex: 2;
    width: 100px;
}

.party {
    display: flex;
    background-color: rgb(221, 221, 221);
}

.josh {
    flex: 1;
    width: 100px;
}

.partyItem {
    flex: 2;
    font-family: 'Montserrat';
    padding: 20px;
}

.food {
    display: flex;
    background-color: #ede6a6;
    height: 100px;
}

.foodItem {
    flex: 1;
    font-family: 'Montserrat';
    padding: 20px;
}

.song {
    height: 100px;
    padding: 20px;
    background-color: rgb(221, 221, 221);
}

.song-text {
    padding: 10px;
}