
.carousel .thumbs-wrapper {
    margin: 1px;
}

.thumbs.animated {
    padding: 0px;
    margin: 5px;
}

.secondBoxItem {
    margin: 10px;
    font-family: 'Dancing Script';
}

.thirdBox {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
} 

.thirdBoxItem {
    flex: 1;
    margin: 10px;
    font-family: 'Dancing Script';
    font-size: 48px;
}

.andSymbol {
    flex: 1;
    margin: 10px;
    font-family: 'Dancing Script';
    font-weight: 300;
    font-size: 78px;
}

.venue {
    background-color: #f0e581;
    padding: 20px;
}

.atSymbol {
    font-family: 'Dancing Script';
    font-size: 20px;
}

.bloom {
    font-family: 'Edu NSW ACT Foundation';
    font-size: 48px;
    font-weight: 500;
}

.address {
    font-family: 'Edu NSW ACT Foundation';
    font-size: 25px;
    font-weight: 500;
}

.song {
    height: 100px;
    padding: 20px;
    background-color: rgb(221, 221, 221);
}

.song-text {
    font-family: 'Montserrat';
    padding: 10px;
}