.pictureAndNames {
    width: 100%;
    position: relative;
    overflow: auto;
}

.beach {
    width: 100%;
}

.hero {
    background-image: url("../Pictures/beach.jpg");
}

/* .mask {
    float: left;
    width: 100%;
    position: absolute;
    top: 10px;
    z-index: 1000;
    background-color: 'rgba(0, 0, 0, 0.6)';
} */

.names {
    float: left;
    width: 100%;
    position: absolute;
    top: 10px;
    z-index: 1000;
    font-family: 'Amatic SC';
    font-size: 40px;
    color: rgb(226, 226, 226);
    padding-top: 30px;
}

.names-row {
    display: flex;
}

.maddie {
    flex: 1;
}

.rob {
    flex: 1;
}

.thirdBox {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
} 

.thirdBoxItem {
    flex: 1;
    margin: 10px;
    font-size: 45px;
}

.venue {
    font-family: 'Sacramento';
    background-color: #ede6a6;
    padding: 30px;
}

.date {
    font-size: 35px;
}

.address {
    font-size: 25px;
}

.atSymbol {
    font-size: 20px;
}

.bloom {
    font-size: 48px;
}

.hotel {
    display: flex;
    font-family: 'Montserrat';
    background-color: rgb(221, 221, 221);
}

.usAtBridge {
    display: flex;
    flex: 1;
    width: 100px;
}

.hotelItem {
    flex: 2;
    padding: 20px;
}

.transportation {
    display: flex;
    font-family: 'Montserrat';
    background-color: #aad7df;
}

.transpItem {
    flex: 2;
    padding: 20px;
}

.river {
    flex: 2;
    width: 100px;
}

.party {
    display: flex;
    background-color: rgb(221, 221, 221);
}

.josh {
    flex: 1;
    width: 100px;
}

.partyItem {
    flex: 2;
    font-family: 'Montserrat';
    padding: 20px;
}

.food {
    display: flex;
    background-color: #ede6a6;
    height: 100px;
}

.foodItem {
    flex: 1;
    font-family: 'Montserrat';
    padding: 20px;
}

.song {
    height: 100px;
    padding: 20px;
    background-color: rgb(221, 221, 221);
}

.song-text {
    padding: 10px;
}